@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');


body {
    font-family: 'Inclusive Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: #FCFCFC;
    margin: 0;
    padding: 0;
}

.main-content {
    background-color: #FCFCFC;
    min-height: 100vh;
    padding: 2.5rem 3rem;
    max-width: 1400px;
    margin: 0 auto;
}

.journal-card {
    padding:15px;
    background-color: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    min-height: 65vh;
}

.add-card {
    border: 2px dashed #CCCCCC;
    background-color: #FFFFFF;
    cursor: pointer;
}

.add-card:hover {
    border-color: #999999;
}

.journal-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.journal-date {
    font-size: 14px;
    color: #666666;
}

.journal-body {
    font-size: 12px;
    color: #333333;
    line-height: 1.5;
}

.search-container {
    display: flex;
    gap: 12px;
    margin-bottom: 2rem;
    align-items: center;
}

.journal-search-input {
    flex: 1;
    padding: 12px 20px;
    font-size: 15px;
    background-color: #FFFFFF;
    border: 1px solid #6F6F6F;
    border-radius: 40px;
    outline: none;
    transition: border-color 0.2s;
    color: #333;
}

.journal-search-input::placeholder {
    color: #D1D1D1;
    font-weight: 300;
    font-size: 20px;
}

.action-buttons {
    display: flex;
    gap: 8px;
}

.journal-btn {
    color: #888888; 
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: 1px solid #6F6F6F;
    border-radius: 40px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.journal-btn:hover {
    background-color: #F9F9F9;
    color: #555555;
    border-color: #D1D1D1;
}

.mood-icon {
    font-size: 24px;
}

.tag-badge {
    background-color: #F0F0F0;
    color: #333333;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 4px;
}

.secondary-mood-badge {
    color: #0066CC;
    font-size: 12px;
}

.sidebar {
    background-color: #151517;
    width: 250px;
    min-height: 100vh;
    padding: 2rem 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
}

.content-area strong {
    font-weight: bold;
}

.content-area em {
    font-style: italic;
}

.page-wrapper {
    margin-left: 250px;
    background-color: #FCFCFC;
    min-height: 100vh;
}